[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
requests = "*"
django = "*"
getenv = "*"
dj-database-url = "*"

[requires]
python_version = "3.6"
